<div style="margin-left: 10px;">
    <div style="height:100%; width:20px;border: 1px solid gray; float:left;">{{goToData.FavoritedBy.length}}</div>
    <div style="margin-left:20px; height:100%;float:left;">
        <h3>{{goToData.ShortURL}}</h3>
        <div>Times visited: {{goToData.TimesVisited}}</div>
        <div>Tags: {{goToData.RelatedTerms}}</div>
        <div>Created By: {{goToData.CreatedById}} on {{goToData.CreatedOn}}</div>
        <div>Last Modified By: {{goToData.LastModifiedById}} on {{goToData.LastModifiedOn}}</div>
    </div>
</div>